*{
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
    margin: 0; 
    padding: 0;
    background-color: #b5e2ff;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center; 
    justify-content: center;
}

*, ::before, ::after {
    content: ''; 
    position: absolute;
}                    
             /*Sea*/
.sea {
    top: 450px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #046780, #9de1e3);
}                
          /*Mountains*/
.sea::after {
    width: 0; 
    height: 0;
    top: -100px; 
    left: -20px;
    border: 100px solid #173518;
    border-top: 10px solid transparent;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}

.sea::before {
    width: 0; 
    height: 0;
    top: -55px; 
    left: 100px;
    border: 50px solid #173518;
    border-top: 10px solid transparent;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.mountain {
    width: 0; 
    height: 0;
    top: 320px; 
    left: 130px;
    border: 130px solid #0f2310;
    border-top: 10px solid transparent;
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
}

.mountain::after {
    z-index: -99;
    width: 0;
    height: 0
    top: -20px; 
    left: -220px;
    border: 150px solid #2e6930;
    border-top: 10px solid transparent;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
}

.mountain::before {
    z-index: -99;
    width: 0; 
    height: 0;
    top: -80px; 
    left: -430px;
    border: 200px solid #2e6930;
    border-top: 10px solid transparent;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
}

.mountain-2 {
    opacity: 90%;
    z-index: -2000;
    width: 0;
    height: 0;
    top: -20px; 
    left: -50px;
    border: 220px solid #1e3620;
    border-top: 250px solid transparent;
    border-left: 220px solid transparent;
    border-right: 220px solid transparent;
}                   
           /*Clouds*/
.mountain-2::after {
    border-radius: 50%;
    filter: blur(10px);
    background-color: #fff;
    top: -100px; 
    left: -300px;
    width: 300px; 
    height: 50px;
    box-shadow: #fff 300px -100px 0 -10px, #fff 150px 40px 0 -5px, #fff -5px -140px, #fff 340px 160px 0 -15px;
}                  
            /*Rainbow*/
.mountain-2::before {
    opacity: 100%;
    top: -50px; 
    left: -200px;
    width: 400px; 
    height: 400px;
    border-radius: 50%;
    z-index: -2000;
    animation: show 3s linear forwards;
    box-shadow: #7e4eac 0 0 10px 10px, #2e165b 0 0 10px 20px, #072f5f 0 0 10px 30px, #7cfc00 0 0 10px 40px, #ffff00 0 0 10px 50px, #ff6600 0 0 10px 60px, #ff2400 0 0 10px 70px;
}

@keyframes show {
    to { 
       opacity: 40%;
    }
}
             /*Shadow*/
.shadows {
    filter: blur(3px);
    border-radius: 50%;
    top: 460px; 
    left: -10px;
    background-color: #0f2310;
    width: 100px; 
    height: 5px;
    box-shadow: #0f2310 70px 0, #0f2310 150px 0, #0f2310 220px 0, #0f2310 300px 0, #0f2310 -40px 10px 0 -1px, #0f2310 30px 10px, #0f2310 60px 10px, #0f2310 100px 10px, #0f2310 250px 10px, #0f2310 119px 20px, #0f2310 37px 19px, #0f2310 74px 19px, #0f2310 160px 20px, #0f2310 30px 25px, #0f2310 50px 35px, #0f2310 100px 45px, #0f2310 163px 10px, #0f2310 203px 28px, #0f2310 85px 55px, #0f2310 158px 55px;
}                      
               /*Rock*/
.rock {
    top: 500px; 
    right:0;
    background-color: #18100a;
    width: 140px; 
    height: 60px;
    border-radius: 50px 50px 0 0;
}

.rock::after {
    right: 100px; 
    top: 15px;
    background-color: #312113;
    width: 100px; 
    height: 50px;
    border-radius: 50px 50px 0 0;
}

.rock::before {    
    z-index: 2000;
    filter: blur(3px);
    border-radius: 50%;
    background-color: #000;
    top: 60px; 
    right: 10px;
    width: 100px;
    height: 4px;
    animation: move 0.9s linear infinite alternate;
    box-shadow: -90px 5px, -30px 5px, -40px 5px, -50px 10px, -60px 17px 0 -1px, -10px 13px, -20px 18px, -30px 25px, -10px 30px, #fff -100px 10px, #fff -10px 20px, #fff -270px -70px 7px, #fff -100px -80px, #fff -340px -97px;
}

@keyframes move {
    to {
        box-shadow: -90px 5px, -30px 5px, -40px 5px, -50px 10px, -60px 17px 0 -1px, -10px 13px, -20px 18px, -30px 25px, -10px 30px, #fff -90px 10px, #fff -10px 20px, #fff -270px -70px 7px, #fff -105px -80px, #fff -350px -97px;
    }
}
